.Column {
    margin: 0 auto;
    border-top: solid 1px #eee;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.NameColumn {
    border-top: solid 1px #eee;
    width: 100%;
    font-size: 48px;
    margin: 0;
    font-weight: 400;
}
.Sorts {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 15px;
}
.SortItem {
    cursor: pointer;
    list-style: none;
    margin: 10px 0;
}
.SortItem:hover {
    opacity: 0.6;
}
.active{
    text-decoration: underline; 
}
@media (max-width:1430px) and (min-width:720px) {
    .Sorts {
        width: 720px;
    }
    .NameColumn {
        font-size: 40px;
    }
}
@media (max-width:720px) and (min-width:320px) {
    .Sorts {
        width: 320px;
    }
    .NameColumn {
        font-size: 30px;
    }
    .SortItem {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}