.Container{
    display: flex;
    flex-direction: column;
    width: 720px;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 20px;
}
.Image{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 720px;
    height: 480px;
}
.Author{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Author:hover{
    text-decoration: underline;
}
.AuthorAvatar{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}
.UserAvatarContainer{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.UserAvatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.Info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.Title{
    font-size: 52px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Text{
    width: 95%;
    margin: auto;
    word-wrap: break-word;
    text-align: start;
}
.Bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.IconWithText {
    text-decoration: none;
    max-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Icon {
    width: 30px;
    height: 30px;
    filter: invert(0%) sepia(18%) saturate(8%) hue-rotate(62deg) brightness(64%) contrast(73%);
}
.CreateComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
}
.TextComment{
    padding: 0;
    font-size: 20px;
    width: 80%;
    min-height: 40px;
    text-align: left;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    line-height: 1;
    word-wrap: break-word;
}
.ButtonCommentContainer{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.ButtonComment{
    background-color: white;
    border: none;
    height: 40px;
}
.CommentImg{
    cursor: pointer;
    width: 32px;
    height: 32px;
}
.List{
    margin-top: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column-reverse;
}
@media (max-width:720px) and (min-width:320px) {
    .Container{
        width: 320px;
    }
    .Image{
        width: 320px;
        height: 320px;
    }
    .Title{
        font-size: 32px;
    }
}