.Container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.Image{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 480px;
}
.Text{
    width: 720px;
}
.IntupTitle{
    color: white;
    height: 30px;
    width: 720px;
    border: 5px solid #2b2b2b;
    background-color: #171717;
    padding: 0;
    font-size: large;
    text-align: center;
}
.IntupText{
    color: white;
    resize: none;
    height: 400px;
    overflow: hidden;
    min-height: 50px;
    width: 720px;
    border: 5px solid #2b2b2b;
    background-color: #171717;
    padding: 0;
    overflow-y: auto;
}
