.Image{
    width: 128px;
    height: 128px;
    margin-top: 10px;
    border-radius: 50%;
}
.Container{
    border: 1px solid #eee;
    z-index: 0;
}
.Button{
    position: relative;
    z-index: 10;
}
.Name{
    text-decoration: none;
}