.Container{
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 24px;
}
.form{
    display:  flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.input{
    width: 300px;
}
.Error{
    font-size: 28px;
    color: red;
}
.Button{
    background-color: #222222;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 32px;
}
.ButtonDisable{
    opacity: 0.6;
    cursor:not-allowed
}
.Link{
    text-decoration: none;
    color: #000080
}
.Link:hover{
    opacity: 0.6;
}