.NavBar{
    display: flex;
    flex-direction: column;
    width: 150px;
    position: fixed;
    justify-content: center;
    height: 100%;
    gap: 30px;
    background-color: black;
}
.Link{
    color: white;
    text-decoration: none;
    font-size: large;
}